<div class="loginContainer" *ngIf="!isLoading">
    <form class="innerLoginDIv" (ngSubmit)="loginAdmin(f)" #f="ngForm">
        <!-- <div class="inputDiv">
            <label>Username:</label>
            <input type="text" required>
        </div> -->
        <div class="inputDiv">
            <label>Email:</label>
            <input type="email" required ngModel name="email" email>
        </div>
        <div class="inputDiv">
            <label>Password:</label>
            <input type="password" required ngModel name="password">
        </div>
        <button class="loginButton" type="submit">Login</button>
        <a href="/register">Register</a>
    </form>
</div>
<div class="loginContainer" *ngIf="isLoading">
    <h1>Loading...</h1>
</div>
