<form class="addNewProductContainer" (ngSubmit)="editProduct(f)" #f="ngForm">
    <app-header
    style="
      display: flex;
      align-items: center;
      width: calc(99% - 100px);
      padding: 50px;
    "
  />
  <div class="addNewProductInner">
    <div class="addNewProductButDes">
        <div class="inputDiv">
            <label>Name:</label>
            <input name="name" ngModel [(ngModel)]="productDetails.name">
        </div>
        <div class="inputDiv">
            <label>Category:</label>
            <select name="categoryId" ngModel [(ngModel)]="productDetails.category.id">
                <option value="1">Men</option>
                <option value="2">Kids</option>
            </select>
        </div>
        <div class="inputDiv">
            <label>Quantity:</label>
            <input type="number" name="quanitity" ngModel [(ngModel)]="productDetails.quanitity">
        </div>
        <div class="inputDiv">
            <label>Price:</label>
            <input type="number" name="price" ngModel [(ngModel)]="productDetails.price">
        </div>
        <div class="inputDiv">
            <label>Add New Image:</label>
            <input type="file" name="file" ngModel (change)="setPhoto($event)">
            <button class="createButton" (click)="addNewImage()" type="button">Add Image</button>
        </div>
    </div>
    <div class="addNewProductDes">
        <label>Description</label>
        <textarea name="description" ngModel [(ngModel)]="productDetails.description"></textarea>
    </div>
  </div>
  <button class="createButton" type="submit">Edit</button>
</form>
